HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

discord-creator-hub-main
*.gif
*.bmp
*.tiff
*.psd
*.mp4
*.mov
*.avi
*.mkv
*.mp3
*.wav
*.flac
*.zip
*.rar
*.7z
*.log
*.tmp
*.bak
*.swp
*.pdf
*.docx
*.xlsx
*.pptx
*.exe
*.cmd
mvnw
mvnw.cmd
